*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-content{
    height: 80vh;
    display: flex;
    margin-top: 24.5px;
    position: relative;
    border: 2px solid black;
}
.contact-content::after{
    content: "";
    background-image: url('/img/man-791049_640.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    z-index: -1;
}
.contact-form .form-box input{
    height: 60px;
    border-radius: 30px;
    border: none;
    border: 0.5px solid black;
    padding-left: 20px;
    font-size: 15px;
}
.contact-content .form-textarea textarea{
    height: 50px;
}

.contact-content .form-btn button{
    /* margin-left: 320px; */
    width: auto;
    height: auto;
}